.expenseTracker {
  text-align: center;
  width: 50%;
  padding: 10px;
  height: fit-content;
  margin: 50px auto 0px auto;
}
.expenseTracker h3 {
  margin: 0px;
  text-align: left;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: black;
  border: 1px solid rgb(221, 213, 213);
  border-radius: 8px;
}
.TrackerData {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  margin-top: 30px;
}
.TrackerData p {
  margin: 0px;
  font-weight: 400;
  font-size: 20px;
  color: rgba(31, 29, 29, 0.596);
  font-style: Verdana;
}
.inputTransactionDetails button {
  padding: 7px;
  font-size: 17px;
  border: 1px solid rgb(14, 11, 11);
  margin-right: 10px;
  color: white;
  background-color: rgba(248, 38, 10, 0.938);
}
.inputTransactionDetails input {
  width: 80%;
  padding: 5px;
  margin-bottom: 15px;
}
.heading {
  font-weight: 600;
  font-size: 20px;
  text-align: left;
  color: rgba(31, 29, 29, 0.596);
  border-bottom: 2px solid rgb(234, 224, 165);
  margin-bottom: 10px;
}
.transactionHistory {
  text-align: left;
  border: 1px solid rgba(114, 113, 113, 0.473);
  border-radius: 7px;
  width: 55%;
  box-sizing: border-box;
  padding: 30px;
}
.transactionCredit,
.transactionDebit {
  background-color: white;
  display: flex;
  border-radius: 8px;
  justify-content: space-between;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.transactionDebit {
  border: 1px solid rgba(245, 94, 94, 0.651);
  border-right: 5px solid red;
}
.transactionCredit {
  border: 1px solid rgba(95, 240, 95, 0.692);
  border-right: 5px solid rgb(8, 112, 27);
}
.inputTransactionDetails {
  text-align: left;
  border: 1px solid rgba(114, 113, 113, 0.473);
  padding: 30px;
  height: 300px;
  border-radius: 7px;
  width: 40%;
  box-sizing: border-box;
}
.dataBalance,
.dataIncome,
.dataExpense {
  border-radius: 10px;
  padding: 5px 35px 5px 35px;
  margin-right: 20px;
}
.dataBalance {
  background-color: #ecfccb;
  border: 1px solid #84cc16;
}
.dataIncome {
  background-color: #cffafe;
  border: 1px solid #06b6d4;
}
.dataExpense {
  background-color: #ede9fe;
  border: 1px solid #7c3aed;
}
.body {
  display: flex;
  justify-content: space-between;
}
label {
  color: rgb(112, 104, 104);
  margin-bottom: 10px;
}
