body{
  background-color: rgb(243, 246, 248);
}
.expenseTracker{
  text-align: center;
  width:25%;
  padding: 10px;
  height: fit-content;
  margin: 20px auto 0px auto;
  box-shadow: 2px 2px rgb(127, 199, 228);
}
.expenseTracker h3{
  margin: 0px;
}
.IncomeExpenseInfoDiv{
  background-color: white;
  box-shadow: 1px 1px rgb(78, 78, 78);
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}
.IncomeExpenseInfoDiv p,h4{
  margin:0px;
  font-weight: 700;
}
.incomeClass,.expenseClass{
  width:50%;
  padding: 10px;
}
.incomeClass{
  border-right: 2px solid rgb(199, 191, 191);
}
.heading{
  font-weight: 700;
  font-size: 20px;
  text-align: left;
  border-bottom:2px solid rgb(234, 224, 165);
  margin-bottom: 10px;
}
.transactionHistoryList{
  margin-bottom: 15px;
}
.transactionCredit,.transactionDebit{
  background-color: white;
  box-shadow: 1px 1px rgb(78, 78, 78);
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.transactionDebit{
  border-right: 5px solid red;
}
.transactionCredit{
  border-right: 5px solid rgb(8, 112, 27);
}
.inputTransactionDetails{
  text-align: left;
}
